.App {
  text-align: center;
  background-color: #fbf5fe;
  width: 100%;
  height: auto;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.d-flex{
  display: flex !important;
  flex-wrap: wrap;
}

.flex-col{
  flex-direction: column !important;
}

.flex-1{
  flex: 1;
  margin: 2rem ;
}

.apexcharts-toolbar{
  display: none !important;
}

.card {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  background-color: #fff;
}


.rs-picker-toggle .rs-btn .rs-btn-default .rs-btn-lg {
  position: relative;
  left: -0;
}

.rs-picker-toggle-wrapper {
  width: 200px;
}

.rs-picker-default .rs-picker-toggle.rs-btn-lg {
  left: -0px;
}

.m-xl {
  margin: 1rem;
}

.space-between {
  justify-content: space-between;
}

.w-50 {
  width: 45%;
  margin: 1rem auto;
}


.justify-center {
  justify-content: center;
}



@media screen and (max-width: 990px) {
  .mob-flex-col {
     flex-direction: column;
  }
  .mob-w100 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .mob-mb-sm{
    margin-bottom: 0.5rem;
  }
}

.main-heading {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 1rem 0;
}

.mt-xxl{
  margin-top: 2rem;
}